@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
:root {
    --primaria: #4A1BFA;
    --secundaria: #b5b6f9;
    --terciario: #C0E6F0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.destaque {
    font-family: 'Caveat', cursive;
    font-size: 5em;
    text-decoration: none;
    color: var(--primaria);
}

.destaque:hover {
    text-decoration: underline;
}

.container {
    background-color: var(--terciario);
}

#apresenta {
    padding: 10px;
    margin-bottom: 20px;
    border: 5px solid var(--primaria);
}

#apresenta label {
    font-weight: bold;
}

.btn-primary {
    background-color: var(--secundaria);
    color: black;
    border: none;
}

.btn-primary:hover {
    background-color: #9192dd;
    color: black;
    border: none;
}

img {
    max-height: 200px;
}

section#res img {
    height: 120px;

    transition: all 1s;
}

section p {
    font-size: 1.4em;
}